/*__________ D E F A U L T - R E S P O S I V E__________*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 10px;
}

body {
    color: white;
    background: url('./asset/blur_background.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.15);
    -webkit-backdrop-filter: blur(15px);
    /*For Safari*/
    backdrop-filter: blur(15px);
}

.container {
    display: flex;
    align-items: center;
}

.weather-input {
    width: 25%;
    position: fixed;
    inset: 0;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15),
            rgb(255, 255, 255, 0.15));
    margin: 20px;
    border-radius: 12px;
    padding: 1rem 2.5rem;
}

.weatherIcon {
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /* display: block; */
    height: 25%;
    margin: 0 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

nav img {
    height: 5em;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

nav h1 {
    font-size: 3em;
    margin: 0 0 0 -40px;
    display: flex;
    align-items: center;
    color: rgb(255, 197, 39);
}

.weather-input .feelsLike,
.weather-input .description,
.weather-input .date,
.weather-input .city {
    padding: 10px 0;
}

.temperature {
    display: flex;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;

}

.weatherIcon {
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    display: block;
    height: 25%;
    margin: 2rem auto;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid transparent;
    margin: 2rem 0;
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
}

.input-group input {
    color: white;
    background: rgb(0, 0, 0, 0.15);
    text-transform: capitalize;
    padding: 1rem 5.5rem 1rem 1rem;
    font-size: 15px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 99px;
}

input::placeholder {
    color: white;
}

.input-group .converter {
    color: white;
    position: absolute;
    right: 45px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
}

.input-group .fa-search {
    position: absolute;
    right: 15px;
    color: white;
    cursor: pointer;
    font-size: 22px;
}

select option {
    background-color: black;

}

.weather-output {
    width: 75%;
    position: fixed;
    inset: 0;
    margin: 0 0 0 25%;
    padding: 2rem;
    overflow: auto;
}

.weather-input .feelsLike,
.weather-input .description,
.weather-input .date,
.weather-input .city {
    padding: 10px;
}

.temperature {
    display: flex;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
}

.temperature span {
    font-size: 2rem;
    margin-top: 20px;
}

.Highlight {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-auto-flow: row;
    column-gap: 2rem;
    row-gap: 10px;
}

.Forecast {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}

.Forecast {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}

.Highlight div,
.Forecast div {
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15),
            rgb(255, 255, 255, 0.15));
    ;
    border-radius: 20px;
    padding: 1rem;
}

.Highlight i {
    font-size: 45px;
}

.Highlight h1 {
    font-weight: 300;
}

.sun span {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1400px) {
    nav h1 {
        font-size: 2.5em;
    }
}

/* Author Phuc */
/*__________ P H O N E - R E S P O S I V E__________*/
@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .weather-input {
        width: 90%;
        margin: 20px;
        position: relative;
        padding: 1rem;
    }

    .weatherIcon {
        width: 100px;
        height: auto;
    }

    .weather-output {
        width: 100%;
        position: relative;
        margin-left: 0;
        padding: 1rem;
        -webkit-backdrop-filter: blur(15px);
        /*For Safari*/
        backdrop-filter: blur(15px);

    }

    .Highlight {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .Forecast {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    nav {
        grid-template-columns: 1fr;
        text-align: center;
    }

    nav img {
        margin: 0 auto;
    }

    nav h1 {
        margin: 0 auto;
        font-size: 2em;
    }

    .temperature {
        font-size: 3rem;
    }

    .weatherIcon {
        height: 100px;
    }

    .input-group {
        flex-direction: column;
        align-items: stretch;
    }

    .input-group input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .input-group .converter {
        position: absolute;
        margin: 13px auto;
    }

    .input-group .fa-search {
        position: absolute;
        margin: 15px auto;

    }
}

/* Author Minh */
/*__________ T A B L E T - R E S P O S I V E__________*/
@media (max-width: 1400px) and (min-width: 501px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .weather-input {
        width: 100%;
        position: relative;
        padding: 1rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 0px 100px; */
    }

    nav img {
        height: 5em;
        width: auto;
        display: flex;
        margin: auto;
    }

    nav h1 {
        margin: 0 0 0 -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-grow: 1;
    }

    .weather-output {
        width: 100%;
        position: relative;
        margin-left: 0;
        padding: 1rem;
        -webkit-backdrop-filter: blur(15px);
        /*For Safari*/
        backdrop-filter: blur(15px);
    }

    .Highlight,
    .Forecast {
        grid-template-columns: repeat(2, 1fr);
    }

    .Highlight div,
    .Forecast div {
        width: 100%;
    }

    .temperature {
        font-size: 4rem;
    }

    .temperature span {
        font-size: 1.75rem;
    }
}