@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
}

.weather-input {
    width: 25%;
    position: fixed;
    inset: 0;
    background: rgb(198, 198, 198);
    padding: 1rem 2.5rem;
}
.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.input-group input {
    background: white;
    padding: 1rem;
    font-size:  15px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

.input-group .converter {
    position: absolute;
    right: 45px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.input-group .fa-search {
    position: absolute;
    right: 15px;
    color: black;
    cursor: pointer;
    font-size: 22px;
}

.weather-output {
    width: 100wh;
    position: fixed;
    inset: 0;
    margin-left: 25%;
    padding: 2rem;
    background: rgb(222, 221, 220);
    overflow: auto;
}
.Highlight {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}
.Highlight div{
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(198, 198, 198);
    border-radius: 20px;
    padding: 1rem;
}

.Highlight i{
    font-size: 45px;
}

.sun span {
    display: flex;
    align-items: center;
    gap: 10px;
}